services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports:
      - "5068:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started

  worker:
    build:
      context: .
      dockerfile: docker/Dockerfile.worker
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started
    environment:
      - ConnectionStrings__PedidosDb=Host=postgres;Port=5432;Database=pedidosdb;Username=postgres;Password=postgres

  rabbitmq:
    image: rabbitmq:3-management
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5672:5672"
      - "15672:15672"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pedidosdb
    ports:
      - "5432:5432"
